@import url("reset.css");
@import url("text.css");
@import url("grid.css");
@import url("layout.css");

/* Override some defaults */
html, body {
  background-color: #fff;
  padding: 0px 0px 40px;
  font-size: 12px;
}
footer {
  margin-top: 20px;
  text-align:center;
}

span.nav {
	max-width:100%;
	cursor:pointer;
	font-weight:normal;
}
span.nav a {
	color:#555;
	font-size:1.2em;
	font-weight:bold;
	text-decoration:none;
	display:block;
	padding-left:.6em;
	height:2.4em;
	line-height:2.5em;
	margin:0 0 1em;
	-webkit-transition: all 0.4s ease;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.4s ease;  /* FF4+ */
      -ms-transition: all 0.4s ease;  /* IE10 */
       -o-transition: all 0.4s ease;  /* Opera 10.5+ */
          transition: all 0.4s ease;
	border-left:.3em solid #999;
	border-top:.3em solid #999;
}

span.nav a:hover,
span.nav a:focus {
	color:#c30; 
	padding-left:3em;
	-webkit-transition: all 0.4s ease;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.4s ease;  /* FF4+ */
      -ms-transition: all 0.4s ease;  /* IE10 */
       -o-transition: all 0.4s ease;  /* Opera 10.5+ */
          transition: all 0.4s ease;
}
span.nav a.active {color:#666; background:#fff;}
span.nav a.current {color:#c30; background:#fff; font-size:1.3em; padding-left:1.5em; cursor:default; font-weight:bold;}


	