---
layout: page
title: Categories
header: Posts By Category
group: navigation
---
{% include JB/setup %}
{% for category in site.categories %} 
	<div class="grid_4">
        <div class="box">
            <h2><a href="#" id="toggle-{{ category[0] }}">{{ category[0] }}</a></h2>
            <div class="block" id="{{ category[0] }}">
                <ul>
                    {% assign pages_list = category[1] %}  
                    {% include JB/pages_list %}
                </ul>
            </div>
        </div>
    </div>  
{% endfor %}

