{% include setup %}
<!DOCTYPE html>
<html lang="en">
  	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    	<title>{{ page.title }}</title>
    	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    	<meta name="author" content="{{ site.author.name }}">

    	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  		<!--[if lt IE 9]>
      		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->

    	<!-- Le styles -->
    	<link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    	<!-- Le fav and touch icons -->
   		<!-- Update these with your own images
    	<link rel="shortcut icon" href="images/favicon.ico">
    	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    	-->
        
        <!--	
		Hello source code curious person!
		Viewing source code is one of the BEST ways to learn and expand your knowledge.
		So go ahead, dig away and ask any questions. (see the contact page)
		Follow the github link in the 'Elsewhere' section to view the full source code for this website.

		Techniques used on this site are all in the public domain, 
		but the unique combination of CSS and images are what make this site's design. 

		Take and use what you want but please don't steal wholesale.
        -->

  	</head>
	<body>

        <!-- BEGIN container -->
        <div class="container_12">
        
            <!-- BEGIN title -->
            <div class="grid_12">
                <h1 id="branding">
                    <a class="brand" href="{{ HOME_PATH }}">Thoughts on <strong>games</strong>, <strong>code</strong> and <strong>design</strong>. The online home of <strong>{{ site.title }}</strong></a>
                </h1>
            </div>
            <!-- END title -->
            
            <div class="clear"></div>
            
            <!-- BEGIN content -->
            <div class="grid_9">
                {{ content }}
            </div>
            <!-- END content -->
            
            <!-- BEGIN sidebar -->
            <div class="grid_3">
                <div class="box">
                    <span class="info_bar">Navigation</span>
                    <div class="block">
                        {% assign navs_list = site.pages %}
                        {% assign group = 'navigation' %}
                        {% include navs_list %}
                    </div>
                </div>
            
                <div class="clear"></div> 
            
                <div class="box">
                    <span class="info_bar">Elsewhere</span>
                    <div class="block">
                        <a href="{{ BASE_PATH }}/atom.xml"><img src="{{ ASSET_PATH }}/images/icons/rss_64.png" /></a>
                        <a href="http://www.linkedin.com/in/phillipreagan"><img src="{{ ASSET_PATH }}/images/icons/linkedin_64.png" /></a>
                        <a href="https://github.com/{{ site.author.github }}"><img src="{{ ASSET_PATH }}/images/icons/github_64.png" /></a>
                        <a href="https://twitter.com/{{ site.author.twitter }}"><img src="{{ ASSET_PATH }}/images/icons/twitter_64.png" /></a>
                        <a href="https://plus.google.com/106547477830991344248"><img src="{{ ASSET_PATH }}/images/icons/google-plus_64.png" /></a>
                        <a href="http://phildanger.blogspot.com/"><img src="{{ ASSET_PATH }}/images/icons/blogger_64.png" /></a>
                    </div>
                </div>
            </div>
            <!-- END sidebar -->
            
            <div class="clear"></div>      
            
            <!-- BEGIN disclaimer -->     
            <div class="grid_3">
                <div class="box">
                    <span class="info_bar">Disclaimer</span>
                    <div class="block">
                        <p>The words and opinions expressed here are my own, and do not, in any way, represent the views of my employer.</p>
                    </div>
                </div>
            </div>
            <!-- END disclaimer -->
            
            <!-- BEGIN about -->
            <div class="grid_6">
                <div class="box">
                    <span class="info_bar">About</span>
                    <div class="block">
                        {% if page.url == "/about.html" %}
                            <p>You’re already on the About page. See above for the full content to which this text normally points.</p>
                        {% else %}
                            <p>My name is Phillip Reagan and I love to build and create new things for people to play with. I specialize in game/application development and design for online and mobile devices. The technology and frameworks that I use are simply tools and I'm constantly on the lookout for better ones. Learning keeps my mind sharp, the creative juices flowing and opens me up to new possibilities. Expect to see articles and experiments on the latest thing that I'm playing with here regularly ... <a href="{{ site.JB.about_path }}">read more</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- END about -->
            
            <!-- BEGIN contact -->
            <div class="grid_3">
                <div class="box">
                    <span class="info_bar">Contact</span>
                    <div class="block">
                        {% if page.url == "/about.html" %}
                            <p>See above for contact info.</p>
                        {% else %}
                            <p>Have a question about something you've read here or think I might be a good fit for a project you're working on? If so, please contact me at <a href="mailto:phillip9930@gmail.com">phillip9930@gmail.com</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- END contact -->
            
            <div class="clear"></div>  
            
            <!-- BEGIN footer -->   
            <div class="grid_12"> 
                <footer>
                    <p>&copy; <a href="mailto:phillip9930@gmail.com">{{ site.author.name }}</a> 2012</p>
                </footer>
            </div>
            <!-- END sidebar -->
        </div>
        <!-- END sidebar -->
    
        <script type="text/javascript" src="{{ ASSET_PATH }}/js/mootools-1.2.1-core.js"></script>
        <script type="text/javascript" src="{{ ASSET_PATH }}/js/mootools-1.2-more.js"></script>
        <script type="text/javascript" src="{{ ASSET_PATH }}/js/mootools-fluid16-autoselect.js"></script>
        {% include analytics %}
        
	</body>
    
</html>

