---
layout: default
---
{% include setup %}
<div class="box">
	<!-- BEGIN post -->
	<div class="block" id="post_view">
    	<div class="post">
        	<div class="post-date">{{ page.date | date : "%b %d %Y" }}</div>
            <span class="post-title">{{ page.title }}</span>
            <p class="meta">{{ page.tagline }}</p>
            <p>{{ content }}</p>
        </div>
	</div>
    <!-- END post -->
    
    <hr>
    
    <!-- BEGIN pagination -->
    <div class="pagination">
      		{% if page.previous %}
        		<span class="button"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></span>
      		{% else %}
        		<span class="button disabled"><a>&larr; Previous</a></span>
      		{% endif %}
        		<span class="button"><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></span>
      		{% if page.next %}
        		<span class="button"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></span>
      		{% else %}
        		<span class="button disabled"><a>Next &rarr;</a></span>
      		{% endif %}
    </div>
    <!-- END pagination -->
    
    <hr>
    
    {% include comments %}
</div>
